@charset "utf-8";
@import url("/resources/css/common.css");

[data-scrollbar],[scrollbar],scrollbar{display:block;position:relative}[data-scrollbar] .scroll-content,[scrollbar] .scroll-content,scrollbar .scroll-content{-webkit-transform:translateZ(0);transform:translateZ(0)}[data-scrollbar].sticky .scrollbar-track,[scrollbar].sticky .scrollbar-track,scrollbar.sticky .scrollbar-track{background:hsla(0,0%,87%,.75)}[data-scrollbar] .scrollbar-track,[scrollbar] .scrollbar-track,scrollbar .scrollbar-track{position:absolute;opacity:0;z-index:1;transition:opacity .5s ease-out,background .5s ease-out;background:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}[data-scrollbar] .scrollbar-track.show,[data-scrollbar] .scrollbar-track:hover,[scrollbar] .scrollbar-track.show,[scrollbar] .scrollbar-track:hover,scrollbar .scrollbar-track.show,scrollbar .scrollbar-track:hover{opacity:1}[data-scrollbar] .scrollbar-track:hover,[scrollbar] .scrollbar-track:hover,scrollbar .scrollbar-track:hover{background:hsla(0,0%,87%,.75)}[data-scrollbar] .scrollbar-track-x,[scrollbar] .scrollbar-track-x,scrollbar .scrollbar-track-x{bottom:0;left:0;width:100%;height:8px}[data-scrollbar] .scrollbar-track-y,[scrollbar] .scrollbar-track-y,scrollbar .scrollbar-track-y{top:0;right:0;width:8px;height:100%}[data-scrollbar] .scrollbar-thumb,[scrollbar] .scrollbar-thumb,scrollbar .scrollbar-thumb{position:absolute;top:0;left:0;width:8px;height:8px;background:rgba(0,0,0,.5);border-radius:4px}[data-scrollbar] .overscroll-glow,[scrollbar] .overscroll-glow,scrollbar .overscroll-glow{position:absolute;top:0;left:0;width:100%;height:100%}       

/* 
  image icon Style 
*/
.imgico {    
    position: relative;
    display: inline-block;
}
.imgico:after { 
    content: "";
    display: inline-block;
    background: url(../img/icons.png) no-repeat;
    vertical-align: top;
    position: absolute;
}
.imgico.ico_func_1 {width:26px; height:29px;}
.imgico.ico_func_1:after { 
  width:26px; 
  height:29px; 
  background-position: 0 0;
}

#wrap {width: 100%; height: 100%;}
.rnb_menu_btn { position:absolute; top:55px; right:50px; z-index: 90;}
.rnb_menu_btn a {display:flex; flex-direction: column; justify-content: space-between; width: 32px; height: 33px;}
.rnb_menu_btn em {background:#001140; width: 100%; flex: 1; overflow: auto; margin: 4px 0;}

.rnb { position:fixed; top:0; right:-700px; z-index:91; width:700px; height:100%; background:#313840; overflow-y:auto;}
.rnb_hreader {position: relative; padding:60px 0 0 130px;}
.rnb_hreader h1 {position: relative;}
.rnb_hreader h1 a {display: block;}
.rnb_hreader .rnb_close {
   display:inline-block;   
   overflow:hidden;
   position:absolute;
   right: 50px;
   top:50px;
   color:#fff;
}
.rnb_hreader .rnb_close::before { 
  content:"\e870"; 
  display:inline-block; 
  font-family:'Linearicons-Free'; 
  font-size:45px;
}

.rnb .depth0 { overflow-y:auto; overflow-x:hidden; padding-left:110px; padding-top: 120px;}
.rnb .depth0 > li {}
.rnb .depth0 > li > a {
    display:inline-block;
    position:relative;
    padding:20px 0;
    color:#fff;
    font-size:22px;
    font-weight: 700;
    letter-spacing:2px;
    padding-right: 60px;
    margin-left: 20px;
    transition: all .3s;
}
.rnb .depth0 > li > a::before {
	content:"";
	width:35px;
	height:30px;
	display:inline-block;
	margin-right:8px;
	vertical-align:middle;
	margin-top:-5px;
}
.rnb .depth0 > li:nth-child(1) > a::before {background:url(../img/ico_menu_1.png) no-repeat center center;}
.rnb .depth0 > li:nth-child(2) > a::before {background:url(../img/ico_menu_2.png) no-repeat center center;}
.rnb .depth0 > li:nth-child(3) > a::before {background:url(../img/ico_menu_3.png) no-repeat center center;}
.rnb .depth0 > li:nth-child(4) > a::before {background:url(../img/ico_menu_4.png) no-repeat center center;}
.rnb .depth0 > li:nth-child(5) > a::before {background:url(../img/ico_menu_5.png) no-repeat center center;}
.rnb .depth0 > li:nth-child(6) > a::before {background:url(../img/ico_menu_6.png) no-repeat center center;}
.rnb .depth0 > li:nth-child(7) > a::before {background:url(../img/ico_menu_7.png) no-repeat center center;}


.rnb .depth0 > li.on > a {margin-left: 0;}
.rnb .depth0 > li > a > i {display: inline-block; position: absolute; right: 0; top: 50%; height: 2px; background: #fff; width: 0; transform: translateY(-50%);}
.rnb .depth0 > li > a strong {font-weight:normal; display:inline-block; position:relative; padding-bottom:3px;}
.rnb .depth1 {overflow: hidden; padding-left: 20px; display: none;}
.rnb .depth1 > li {}
.rnb .depth1 > li > a { display:inline-block; color:#fff; font-size:16px; position: relative; font-weight: 100; opacity: .6; padding: 5px 0;}
.rnb .depth1 > li > a:hover {opacity: 1;}
.rnb .depth1 > li > a:after { 
  content:"\e874"; 
  position:absolute; 
  top:50%; 
  right:9%; 
  margin-top:-8px; 
  font-family:'Linearicons-Free'; 
  font-size:10px; 
  line-height:15px; 
  color:#fff;
  transform: rotate(-90deg);
  transition: all .4s cubic-bezier(0.39, 0.575, 0.565, 1);
  opacity: .2;
}

.wrap_main .container {padding: 60px 100px;}
.wrap_main .container .left_secs {position: relative; display: flex; flex-direction: column; justify-content: space-between; height:calc(100vh - 120px);}
.wrap_main .container .main_top {position: relative; display: flex; z-index: 30; width:550px;}
.main_top > div {position: relative; padding-top: 35px;}
.main_top .top_logo {padding-top: 40px;}
.main_top .black_bar {position: absolute; top: 0; left: 0; width: 100%; height:7px; background: #27282e;}
.main_top .top_title {margin-left: 60px;}
.main_top .top_title dl {color: #27282e;}
.main_top .top_title dl dt {font-family: 'Nanum Myeongjo', serif; font-weight:700; font-size: 32px;}
.main_top .top_title dl dd {font-size: 15px; text-transform: uppercase; letter-spacing: 0; font-weight: 400; padding-top: 20px;}

.wrap_main .container .main_vis {height: 574px; position: relative; margin:50px 0 40px; z-index: 20;}
.main_vis .tit {z-index: 10; position: absolute; left: 60px; top: -20px; color: #fff; font-size: 110px; font-weight: 800; line-height: 1; letter-spacing: 2px; text-transform:uppercase;}
.main_vis .visual_bg {background: url(../img/main_visual.jpg) no-repeat center top; background-size:cover; position: absolute; left: 0; right: 0; top: 0; bottom: 0;}

.main_footer {margin-top: auto; position: relative; z-index: 20;}
.main_footer p {font-size: 13px; color: #27282e;}
.main_footer p span {display: inline-block;}
.main_footer p span.bl_dot {position: relative; padding-left: 10px; margin-left: 15px;}
.main_footer p span.bl_dot::before {content:""; width: 2px; height: 2px; border-radius: 2px; background:#27282e; position: absolute; left: 0; top: 8px;}


.nectar-scroll-icon {
  width: 20px;
  height: 45px;
  text-align: center;
  position: relative;
  z-index: 100;
}
.mouse_scr {position: fixed; right:70px; bottom: 60px; z-index: 30; text-align:center;}
.mouse_scr .ico {
  display: block;  
  text-align: center;
  border-radius: 100px;    
  -webkit-border-radius: 100px;
  transition: opacity 0.4s ease;
  -webkit-transition: opacity 0.4s ease;
  overflow: hidden;
  margin-left: 0px;
  left: 0;
  opacity: 0.6;    
  overflow: visible;
  opacity: 1;
  height: auto;
  bottom: 13px;
  -webkit-animation: nudgeMouse 2.4s cubic-bezier(0.250,0.460,0.450,0.940) infinite;
  animation: nudgeMouse 2.4s cubic-bezier(0.250,0.460,0.450,0.940) infinite;
}
.mouse_scr .ico::before{ 
  position: absolute;
  content: '';
  display: block;
  left: 50%;
  margin-left: -1px;
  top: 22px;
  background-color: rgba(96,96,96,0.7);
  width: 2px;
  height: 6px;
  border-radius: 10px;
  transition: background-color .55s cubic-bezier(.5,.1,.07,1);
  -webkit-animation: trackBallSlide 2.4s cubic-bezier(0.000,0.000,0.725,1.000) infinite;
  animation: trackBallSlide 2.4s cubic-bezier(0.000,0.000,0.725,1.000) infinite;
}

.open_banner {position: fixed; right:0; top:50%; transform:translate(0, -50%); z-index: 30; width:100px;}
.open_banner ul li span, .open_banner ul li a {display:block; width:100px; height:125px; background-repeat:no-repeat; background-image:url("/resources/img/open_banner.jpg"); text-indent:-9999px; overflow:hidden;}
.open_banner ul li:nth-child(1) span {background-position:0 0;}
.open_banner ul li:nth-child(2) span {background-position:0 -125px;}
.open_banner ul li:nth-child(3) a {background-position:0 -250px;}

@-webkit-keyframes trackBallSlide{ 
  0%{ opacity:1;  -webkit-transform:scaleY(1) translateY(-10px);  transform:scaleY(1) translateY(-10px)} 
 45%{ opacity:0;  -webkit-transform:scaleY(0.5) translateY(13px);  transform:scaleY(0.5) translateY(13px)}
 46%{ opacity:0;  -webkit-transform:scaleY(1) translateY(-10px);  transform:scaleY(1) translateY(-10px)}
 65%, 100%{ opacity:1;  -webkit-transform:scaleY(1) translateY(-10px);  transform:scaleY(1) translateY(-10px)}
}
@keyframes trackBallSlide{ 
  0%{opacity:1;  -webkit-transform:scaleY(1) translateY(-10px);  transform:scaleY(1) translateY(-10px)} 
 45%{ opacity:0;  -webkit-transform:scaleY(0.5) translateY(13px);  transform:scaleY(0.5) translateY(13px)}
 46%{ opacity:0;  -webkit-transform:scaleY(1) translateY(-10px);  transform:scaleY(1) translateY(-10px)}
 65%, 100%{ opacity:1;  -webkit-transform:scaleY(1) translateY(-10px);  transform:scaleY(1) translateY(-10px)}
}
@keyframes nudgeMouse{ 
  0%{ -webkit-transform:translateY(0);  transform:translateY(0)}
 45%{ -webkit-transform:translateY(8px);  transform:translateY(8px)}
 65%, 100%{ -webkit-transform:translateY(0);  transform:translateY(0)}
}
@-webkit-keyframes nudgeMouse{ 
  0%{ -webkit-transform:translateY(0); transform:translateY(0)}
 45%{ -webkit-transform:translateY(8px);  transform:translateY(8px)}
 65%, 100%{ -webkit-transform:translateY(0);  transform:translateY(0)}
}


.wrap_main .container .right_banner {position:absolute; right: 0; top: 0; bottom: 0; background:#f0f0f0; padding: 0 130px;}
.wrap_main .container .right_banner::before {
  content:"";
  position:absolute;
  top: 0;
  bottom: 0;
  width: 240px;
  height: 100%;
  transform: translateX(-370px);  
  background: url(../img/bg_patten.jpg) repeat center top;
  z-index: 10;
}

.right_banner ul { overflow-y: auto; height: 100%; padding-top: 19px;}
.right_banner ul li {padding: 19px 0;}
.right_banner ul li .inner {display:block; position: relative; height: 268px; overflow: hidden;}
.right_banner ul li .inner img {width:100%;}
.right_banner ul li .box_hover {position: absolute; left: 0; background: rgba(9,64,103,.95); right: 0; bottom: 0; top: 0; padding:40px 30px; z-index: 1;}
.right_banner ul li .cate {color: #b4a797; text-transform: uppercase; font-size: 16px; font-weight: 600;}
.right_banner ul li dl {color: #fff;}
.right_banner ul li dl dt {font-size: 26px; text-transform: uppercase; letter-spacing: 1px; font-weight: 300; padding: 15px 0; white-space:nowrap;}
.right_banner ul li dl dd {font-size: 14px;}
.right_banner ul li .goview {
	position: absolute; 
	right: 0; 
	bottom: 0;
	display: inline-block; 
	color: #fff; 
	text-transform: uppercase; 
	font-size: 12px; 
	letter-spacing: 2px; 
	font-weight: 600; 
	background: #7793a8; 
	width: 118px; 
	padding: 10px 0;
	text-align: center;
}
.right_banner ul li .goview * {vertical-align: middle;}
.right_banner ul li .goview i {display: inline-block; margin-top: -3px; margin-left: 5px;}


@media (max-width: 1550px) {
  .right_banner ul li .inner {width: 295px; height: 180px;}
  .right_banner ul li .box_hover {padding: 20px 25px;}
  .right_banner ul li .cate {font-size: 14px;}
  .right_banner ul li dl dt {font-size: 20px; padding: 6px 0;}
  .right_banner ul li dl dd {font-size: 12px;}
  .right_banner ul li {padding: 10px 0;}
  .wrap_main .container .right_banner::before {width: 140px; transform: translateX(-270px);}
  .right_banner ul li .goview a {padding: 5px 0; width: 100px; font-size: 11px;}
}







/*
    popup
*/
.main_popup {display: none; position:absolute; top:100px; left:80px; background:transparent; z-index:99; font-size: 0; white-space: nowrap;}
.main_popup.nmpop img {display: block;}
.main_popup.slidepop {width: 300px; }
.main_popup.slidepop li img {display: block;width: 300px;height: auto;}
.main_popup.slidepop .slick-slide {line-height: 0;}
.main_popup .today {position:relative;background:#fff;padding:10px;color:#262626;font-size:13px;line-height:13px;}
.main_popup .today * {vertical-align: middle;}
.main_popup .today strong {}
.main_popup .today a {position:absolute;right:4px;top:6px;color:#262626;font-size:13px; padding: 5px 10px;}
.main_popup .today a i::after {
  content: "\e870"; 
  display: inline-block; 
  font-family:Linearicons-Free;
  font-size: 18px;
  margin-right: 6px;
  color: #fff;
}
.main_popup .slick-dots {
  width: 100%;
  position: absolute;
  left: 0;
  bottom:0;
  display: block;
  text-align: center;
}
.main_popup .slick-dots li {
  width: 14px;
  height: 14px;
  margin: 0 6px;
  text-indent: -20000px;
  background: transparent;
  border-radius: 14px;
  display: inline-block;
  border: 2px solid #fff;
}
.main_popup .slick-dots li.slick-active {
  background: #fff;
}

.main_popup input[type=checkbox].checkbox, input[type=radio].radio{width:15px; height:15px;}
.main_popup input[type=checkbox].checkbox+.label::before{font-size: 15px; min-width: 15px; height:15px; line-height: 15px;}

.popimg {
  width: auto;
  height: auto;
  position: relative;
  display: inline-block;
}

.popimg img {
  width: 100%;
  height: 100%;
  display: block;
}

#wrap {position: relative;}
.wrap_main {min-width: 1200px;}
.wrap_sub {min-width: 1280px;}
header {z-index: 300; height:300px; width: 100%; position: absolute; left: 0; top: 0; right: 0; overflow: hidden; z-index:90; transition: 0.3s ease top; /*transition-delay: .2s;*/}
header .header_con {zoom: 1; position: relative; min-width: 1200px; max-width: 1480px; margin-left: auto; margin-right: auto; text-align: right; z-index: 201; overflow:hidden;}
header h1 {position:absolute; left:50%; top:60px; z-index:300; margin-left:-800px;}

.smallscreen header h1 {margin-left: 0; left: 40px;}
.smallscreen header .header_con .depth0>li>a {padding: 50px 18px 0;}

header h1 a {display: block;}
header .header_con .gnb {display: inline-block; position: relative;}
header .header_con .depth0 {display:flex;}
header .header_con .depth0>li {position: relative; flex: 1;}
header .header_con .depth0>li:first-child::before {background:none;}
header .header_con .depth0>li>a {    
    display: block;
    font-size: 18px;
    text-align: left;    
    height: 88px;    
    font-weight: 600;
    padding:50px 35px 0;
    white-space:nowrap;
}
/* header .header_con .depth0>li>a { display: inline-block; position: relative; letter-spacing: -1px; border-radius: 40px; padding: 10px 25px;} */
header .header_con .depth0>li>a.on {color: #273d6b;}
header .header_con .depth0>li.on>a {color: #273d6b;}
header .header_con .depth1 {position: absolute; top:88px; padding: 0 18px; text-align: center; white-space: nowrap; display: none; width:100%;}
header .header_con .depth1 li {text-align: center;}
header .header_con .depth1 li a {display:inline-block; color: #28282a; padding:5px 14px 5px 0; position: relative; white-space: nowrap; font-size: 16px; font-weight: 300;}
header .header_con .depth1 li a.current, header .header_con .depth1 li a:hover {color: #000;}
header .header_con .depth1 li a.current:after, header .header_con .depth1 li a:hover:after {}
header .header_con .depth1 li a i {
	display:inline-block; 
	width:0; 
	height:1px; 
	background:#000; 
	/*vertical-align:middle; 	*/
	position:absolute;
	right:0;
	top: 16px;
	transition:width .2s;
}
header .header_con .depth1 li.on a i {width:10px;}


/* container */
#container { position:relative; padding-top:235px; background:url(../img/sub/sub_patten.jpg) repeat-y right top; background-position:fixed;}
.contents { width:1200px; margin:0 auto; padding:70px 0 120px;}
.sub_footer { padding-bottom:20px; position:relative;}
.sub_footer .footer_con {width:1200px; margin:0 auto;}
.sub_footer .footer_con p {font-size: 13px; color: #27282e;}
.sub_footer .footer_con p span {display: inline-block;}
.sub_footer .footer_con p span.bl_dot {position: relative; padding-left: 10px; margin-left: 15px;}
.sub_footer .footer_con p span.bl_dot::before {content:""; width: 2px; height: 2px; border-radius: 2px; background:#27282e; position: absolute; left: 0; top: 8px;}

.sub_top {width:1200px; margin:0 auto;}
.sub_top > h2 {font-size:30px; font-weight:600; color:#27282e; padding-bottom:25px; border-bottom:1px solid #b2b2b2;}

#navbg { 
  position: absolute; 
  width: 100%; 
  background:#fff;
  border-bottom:1px solid #fff; 
  top: 0; 
  height: 0;
  z-index: 10;
  overflow: hidden;
  right: 0;
}


.contents .video_box {position:relative; width: 780px; height: 440px;}
/* .contents .video_box .movie_btn {position: absolute; left: 50%; top: 50%; transform: translate(-50.1%, -50.1%); text-align: center; z-index:60;}
.contents .video_box .movie_btn p {font-family: 'Montserrat', sans-serif; font-weight: 100; font-size: 18px; color: #fff; opacity: .7; letter-spacing: 1px; padding-top: 10px;}
.contents .video_box .movie_btn button {  
  width: 145px; 
  height: 145px;
  z-index: 43;
  font-size: 0;
  color: transparent;
  cursor: pointer;
  display: inline-block;
  transition: all .2s;
  background: rgba(0,0,0,.5);
  border:1px solid rgba(255,255,255,.5);
  border-radius: 145px;
}
.contents .video_box .movie_btn button::before {
  content: "";
  display: inline-block;  
  width: 25px;
  height: 28px;
  background:url(../img/ico_play.png) no-repeat 0 0;  
} */
.contents .video_box video {width: 780px; height: 440px;}


.brand {}
.brand_top {display:flex; margin-bottom: 100px;}
.brand_top .left_sec {}
.brand_top .video_box {margin-left:auto;}
.brand_top.lafiano .video_box video {width: 840px; height: 473px;}
.brand_top.lafiano .video_box {margin-left: inherit;}
.brand_top.lafiano .right_sec {margin-left:auto;}

.lay_flex {display:flex;}
.lay_flex .left_auto {margin-left:auto;}
.lay_flex .right_auto {margin-right:auto;}
.visit .video_box,
.visit .video_box video, 
.life .video_box, 
.life .video_box video {
  width: 588px; 
  height: 440px;
}
.interview p.mov_tit {font-size: 40px; font-weight: 600; color:#27282e; padding: 50px 0;}


/* 
  thumbNail List 
*****************************/ 
ul.thumb_list {overflow: hidden; margin:0 -14px;}
ul.thumb_list > li {float: left; width: 33.33333%; padding-top: 25px; }
ul.thumb_list > li.nodata {float:none; text-align: center; font-size:18px; font-weight: 400; padding: 60px 0; width: 100%;}
ul.thumb_list > li:nth-child(3n+1) {clear: both;}
ul.thumb_list > li a {display: block; overflow: hidden; padding: 0 14px; position: relative;}
ul.thumb_list > li a .cate {font-size: 16px; padding: 12px 0 8px;}
ul.thumb_list > li a .txt {
    text-align: left; 
    font-size: 22px;     
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    line-height: 1.6;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    transition: all .3s; 
    font-weight: 600;     
}
ul.thumb_list > li a .thumb_box {
  position: relative;
  line-height: 0;
  overflow: hidden;
  width: 380px;
  height: 213px;
}     
ul.thumb_list > li a .more {position: relative; display: inline-block; padding-right:100px; font-size: 15px; margin-top: 20px;}      
ul.thumb_list > li a .more i {position: absolute; right: 0; top: 50%; transform: translateX(-50%); margin-top: -2px;}
ul.thumb_list > li a .thumb_box > img {max-width: 100%; min-height: 213px; transition: all .3s;}
ul.thumb_list > li a:hover .thumb_box > img {transform: scale(1.1);}
ul.thumb_list > li a:hover .txt {color: #000;}

.page_list {clear: both; text-align:center; margin-top: 30px; padding-top: 30px; border-top: 1px solid #d6d6d6;}
.page_list * {vertical-align: middle;}
.page_list a {display: inline-block; width:31px; height:31px; line-height: 1; padding-top: 9px; font-family: 'Roboto', sans-serif;}
.page_list a.arrow {background-color: #fff; font-size: 0; color: transparent;}
.page_list a.prev {margin-right: 12px; background: none; width: 94px; height:31px; padding-top: 0;}
.page_list a.next {margin-left: 12px; background: none; width: 94px; height:31px; padding-top: 0;}
.page_list a.on {color:#fff; background: #27282e; border-radius:31px;}
.page_list a.prev:before{content: ""; display: inline-block; background: url(../img/paging_prev.png) no-repeat 0 0; width: 94px; height:31px;}
.page_list a.next:before{content: ""; display: inline-block; background: url(../img/paging_next.png) no-repeat 0 0; width: 94px; height:31px;}




/*관심고객등록*/
.privacy{text-align: left;}
.privacy fieldset> h2{
  padding-top:20px;
  margin-bottom:40px; 
  height:23px; 
  line-height: 23px; 
  font-weight: bold;
  font-size:20px; 
  color:#1c1c1c; 
}
  
.terms_box{ padding:25px; padding-top:5px; height: 300px; overflow-y: scroll; background: #f5f5f5; font-size:14px;}
.terms_agree{
  padding:28px 0 50px;
  margin-bottom: 36px;
  text-align:center; 
  border-bottom: 1px solid #c7c7c7;
}
.terms_agree label{margin-right:34px; display:inline-block; font-size:14px; color:#959595; }
.privacy_tb{margin-bottom:30px; border-top:2px solid #574b30;}
.privacy_tb table{width:100%;}
.privacy_tb td:first-child, .privacy_tb th:first-child{border-right:1px solid #e4e4e4;}
.privacy_tb th{padding:15px 0; text-align:center; vertical-align: middle; background-color:#f5f5f5; border-bottom:1px solid #e4e4e4; font-size:16px; color:#2c2c2c; }
.privacy_tb td{padding:9px 30px; border-bottom:1px solid #e4e4e4; background: #fff;}
.privacy_tb td input[type=text]{padding-left:5px; width:202px; height:30px; line-height:30px; }
.privacy_tb td span{color:#000e40; font-size:12px;}
.privacy_tb td select{width:180px; height:32px; line-height:32px; }
.privacy_tb td.td_1 input[type=text],.privacy_tb td.td_1 select{width:92px;}
.privacy_tb td.td_2 input[type=text]{width:92px; background-color:#f6f6f6;}
.privacy_tb td.td_3 input[type=text]{width:598px; background-color:#f6f6f6;}
.privacy_tb td.bg_none input[type=text]{width:598px; background-color: none;}
.privacy_tb .btn_post{margin-left:5px; width:90px; height:32px; text-align:center; line-height:32px; display:inline-block; background-color:#414042; color:#fff; font-size:11px; font-family:"돋움";}
.privacy_tb td label{color:#959595; font-size:14px; margin-right: 7px; }

.privacy_tb td.lable_td{padding:14px 30px;}
.privacy_tb td input[type=radio].radio+.label::before{min-width:18px; width:18px; height: 18px; line-height: 18px; font-size: 16px;}
.privacy_tb td input[type=radio].radio:checked+.label:before{color:#574b30;}


.privacy_tb td .qe{font-size:15px; color:#585858; padding-top:20px;padding-bottom:10px;}
.privacy_tb td .qe em{color:#5c7dca;}
.privacy_tb td .qe:first-child{padding-top:10px;}
.privacy_tb td .an{position:relative;}
.privacy_tb td .an * {vertical-align: middle;}
.privacy_tb td .an span{display: inline-block; width:17%;}
.privacy_tb td .an.auto span{width: auto;}
.privacy_tb td .an input{line-height:24px; height:24px;}

.privacy_tb input[type=checkbox].checkbox+.label::before{width:18px; height:18px; min-width:auto}
.privacy_tb td.lable_td.st1 strong{vertical-align:sub}

.st1.privacy_tb{border-bottom:1px solid #e4e4e4; border-left: 1px solid #c7c7c7; border-right: 1px solid #c7c7c7;}
.st1.privacy_tb th{font-size: 14px;}
.st1.privacy_tb td.lable_td strong{vertical-align:top}

.txt_box{margin-bottom:50px;}
.txt_box li{font-size:13px; color:#777; }
.txt_c{text-align:center !important;}


.privacy_tb .terms table{
  border:1px solid #e4e4e4;
}
.privacy_tb .terms th{
  border-right:1px solid #e4e4e4; 
}
.privacy_tb .terms td{
  vertical-align: middle;
}
.privacy h2 {
    padding-top: 20px;
    margin-bottom: 20px;
    height: 23px;
    line-height: 23px;
    font-size: 18px;
    color: #00a665;
}
legend {display: none;}


/*약관*/
.terms{color:#959595;}
.terms h1{margin-bottom:6px; margin-top:20px; font-weight: bold; font-size:15px; color:#1c1c1c;}
.terms h2{margin-bottom:0; padding:30px 0 10px; font-size:14px; font-weight:600; color:#777;}
.terms h2:first-child{padding-top:0;}
.terms p{margin-bottom:10px; color:#777; }
.terms ul li{margin-bottom:5px;}

/*btn*/
.btn_box {text-align: center; padding: 40px 0;}
.btn{margin:0 2px; width:140px; height:50px; line-height:50px; text-align:center; display:inline-block; font-size:16px; color:#fff;}
.btn.btn-navy{background:#073c61; color: #fff;}
.btn.btn-gray {background:#e0e0e0;}
.btn.btn-green {background:#000e40; color: #fff;}


.layerPopup {
    position:fixed;
    z-index:1000;
    display:none;
    left:50%;   
    top: 121px;    
    margin-left: -540px;
    /*top:50%;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    */
    background-clip: padding-box;
    background:#fff;    
}
.layerPopup h3 {font-size:36px; color: #222; padding-bottom: 12px;}
.layerPopup .layerPopup_in {display:block; position: relative; text-align: left; width: 1080px; padding: 40px; padding-right: 0;}
.layerPopup .layerPopup_in .layer_con {}
.layerPopup .closeLayer {display:inline-block;color:#4a525f; position:absolute; right:-67px; top:-10px; font-size:0; color: transparent;}
.layerPopup .closeLayer a {width: inherit; height: inherit; padding:10px 20px; font-size: 45px; color: #fff;}
.imgIcon.closex:after {}
.layerContent {
    padding-top: 50px;
    margin-top: 20px;
}
.layerContent.rejectbox {
  border-top: 1px solid #ccc;
  line-height: 1.7;
  font-size: 16px;
}
.layerPopup .closeLayer:hover {color:#095573;}
#layerScreen{z-index:999;position:fixed;top:0;left:0;right:0;bottom:0;background:black;filter:Alpha(opacity=30);opacity:0.6;-moz-opacity:0.3;display:none;}

.foot_summary {padding-top: 30px;}
.foot_summary ul {}
.foot_summary ul li {margin-left:14px; text-indent: -14px; font-size: 13px; line-height: 1.7;}
.foot_summary ul li.underline {color: #db4444; text-decoration: underline;}

/* video */
.video_frame {
    position: relative;
    padding-bottom: 56.2%;
    height: 0;
    overflow: hidden;
}
.video_frame iframe, 
.video_frame object, 
.video_frame embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* map */
.map_con {position: relative;}
.map_link {position: absolute; width: 29.1%; height: 9.3%; left: 65%; display: block; color: transparent; font-size: 0;}
.map_link.link-1 {top: 23.5%;}
.map_link.link-2 {top: 53.5%;}
.map_link.link-3 {top: 83.6%;}

/* .map_wrap .map_con {width:1200px;height:500px;}
.map_wrap .map_info {margin:15px 0 70px;}
.map_wrap .map_info dl {display:table;table-layout:fixed;width:100%;}
.map_wrap .map_info dl dt, .map_wrap .map_info dl dd {display:table-cell;vertical-align:middle;height:60px;font-size:22px;color:#343434;}
.map_wrap .map_info dl dt {position:relative;width:15%;padding-left:30px;}
.map_wrap .map_info dl dt::before {display:block;content:'';width:3px;height:100%;background:#343434;position:absolute;top:0;left:0;} */

/* sns */
.sns_list li {float:left;}  
.sns_list li a {display:block;width:400px;height:400px;overflow:hidden;background:url("/resources/img/sub/sns_off.jpg") no-repeat;text-indent:-9999px;}
.sns_list li a:hover {background:url("/resources/img/sub/sns_on.jpg") no-repeat;}
.sns_list li:nth-child(1) a {background-position:0 0!important;}
.sns_list li:nth-child(2) a {background-position:-400px 0!important;}
.sns_list li:nth-child(3) a {background-position:-800px 0!important;}

.page_tit {position: relative; padding-bottom: 65px; text-align: center; margin-bottom: 25px;}
.page_tit::before {
  content: "";
  width: 1px;
  height: 60px;
  background:#bebec0;
  position: absolute;
  left: 50%;
  bottom: 0;
}
.page_tit dt {font-size: 38px; font-weight: 500; color:#27282e;}
.page_tit dd {font-size:17px; color:#27282e; padding: 10px 0;}
.danzi_con {margin-bottom: 150px;}

.thumb_gallery .view_sec {margin-bottom: 20px;}
.thumb_gallery .thumb_sec {position: relative; overflow: hidden;}
.thumb_gallery .thumb_slide {padding-left: 20px; margin-left: -20px; margin-right: -20px;}
.thumb_gallery .thumb_slide li {}
.thumb_gallery .thumb_slide li a {display: block; width: 285px; position: relative;}
.thumb_gallery .thumb_slide li a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background:rgba(0,0,0,.6);
  transition: all .3s;
}
.thumb_gallery .thumb_slide li.slick-current a::before {background: none;}
.thumb_gallery .thumb_nav a {position: absolute; display: block; top: 54px;}
.thumb_gallery .thumb_nav #slidePrev {left: 0;}
.thumb_gallery .thumb_nav #slideNext {right: 0;}
.other_title {font-size:20px; color: #27282e; font-weight: 400; padding-bottom: 50px;}


.ui_tabcontents {}
.ui_tabcontents .tab {display: flex; margin: 0 -5px;}
.ui_tabcontents .tab li {flex: 1; padding: 0 5px;}
.ui_tabcontents .tab li a {
	display:block; 
	color: #717171; 
	font-size: 18px; 
	text-align: center; 
	border:1px solid #c0c0c0; 
	padding: 10px 0; 
	font-family:'Roboto', sans-serif;	
	font-weight: 400;
  text-transform: uppercase;  
}
.ui_tabcontents .tab li.on a {background:#093d62; color:#fff; border:1px solid #093d62; }
.ui_tabcontents .tab_conlist {padding-top: 50px; clear: both;}
.ui_tabcontents .tab_conlist li {display: none; opacity: 0;}
.ui_tabcontents .tab_conlist li.current {display: block; opacity: 1;}
.ui_tabcontents .tab.mov_tab li a {background: #093d62; border:1px solid #093d62; color:#fff; opacity: .6;}
.ui_tabcontents .tab.mov_tab li a.menu_1, .ui_tabcontents .tab.mov_tab li a.menu_5 {background:#0f8276; border:1px solid #0f8276;}
.ui_tabcontents .tab.mov_tab li.on a {/*background:#27282e !important; border:1px solid #27282e !important;*/ opacity: 1;}
.mater_tab li {text-align: center; margin-bottom: 20px;}
.mater_tab li a {
  display:inline-block; 
  width: 390px;
	color: #fff; 
	font-size: 18px; 
	text-align: center; 
	padding: 15px 0; 
	font-family:'Roboto', sans-serif;	
	font-weight: 400;
  background: #093d62;
  text-transform: uppercase;  
  position: relative;
  padding-right: 150px;
  transition: all .3s;  
}
.mater_tab li a i {position: absolute; right: 42px; top: 20px; transition: right .3s;}
.mater_tab li a:hover {background:#27282e;}
.mater_tab li a:hover i {right:30px;}

.unit_video p {text-align: center; padding:0 0 50px;}
.mov_contents {margin-top: 30px;}

.gonggo {position: relative; padding-top: 50px;}
.gonggo ul {position: absolute; right: 20px; top: -20px; z-index: 20; display: flex; width: 780px;}
.gonggo ul li {flex: 1;}
.gonggo ul li a {display: block; color: #fff; padding:45px 20px 20px; transition: all .3s;}
.gonggo ul li:nth-child(1) a {background:#093d62;}
.gonggo ul li:nth-child(2) a {background:#0b5f7b;}
.gonggo ul li:nth-child(3) a {background:#0f8276;}
.gonggo ul li a:hover {background:#27282e;}
.gonggo ul li dl {}
.gonggo ul li dl dt {text-align: left;}
.gonggo ul li dl dt p.tit {font-size: 20px; font-weight: 500;}
.gonggo ul li dl dd {text-align: right; padding-top: 60px;}

.type_tab_con .img_con {position: relative;}
.type_tab_con .img_con a {position: absolute; left: 0; top: 426px; width: 280px; height: 60px; z-index: 20; font-size: 0; color: transparent;}

